<a href="https://colab.research.google.com/github/guedesgeorge/AlgoritimosJavaScript/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aqui usaremos para fazer nossa documentação


Em ciencia da dados é importante documentar todas nossas tarefas realizadas

Quando escrevemos um trecho de codigo complexo é essencial que escrevemso comentarios a respeito daquele codigo para uma abordagem futura eu entender o que fiz

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("Olá") # para printar

Olá

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Variaveis e tipo de Dados

Quando for declarar as variaveis evitar variveis genericas colocar variaves que fazem sentindo

In [ ]:
nome = "George Guedes"
idade = 22
altura = 1.85
salario = 3018

In [ ]:
# Tipos de dados básicos em Python
cliente = "José da silva"
type(cliente) #type é para ver o tipo de dado em python

str

In [ ]:
idade = 22
type(idade)

int

Saida de Dados em Python


Em python temos o "sep" ele serve como separador exemplo:

print(25,04,2025) sep "/"

O operador sep ira imprimir formnatado com 25/04/2025

In [ ]:
print("Olá Mundo!")

In [ ]:
# Imprimindo valores de variaveis

email = "george.emannuelcarvalho@gmail.com"
idade = 22
altura = 1.88;

print("Endereço de email: ", email, "idade: ", idade, "altura", altura)

Endereço de email:  george.emannuelcarvalho@gmail.com idade:  22 altura 1.88

In [ ]:
# Prametro Sep
dia = 25
mes = 4
ano = 2025

print(dia,mes,ano, sep = "/")

25/4/2025

In [ ]:
# Parametro end

# Este parametro, é para que quando printamos ele ele pula para proxima linha mas coloca virgula

print("Laranja",  end = ",")
print("Uva", end = "," )
print("Morango",  end = ",")

Laranja,Uva,Morango,

# Entrada de dados em Python

Onde o usuario fornece a entrada

In [ ]:
#input comando para entrada de dados

nome = input("Digite seu nome")
print(nome)

Digite seu nomegeorge
george

In [ ]:
# Lendo um numero interio
idade = input("Digite sua idade ")
print(idade)

Digite sua idade 22
22

In [ ]:
type(idade)

# por que aqui o retorno da de uma string?
Por que o input ele não faz a conversão ele entende que todo entrada é uma string

str

# Casting

Em qualquer linguagem uma entrada de dados é uma String.
Para dar um retonro de inteiro ou booleano temos que fazer um Casting

In [ ]:


# Lendo e convertendo um input para um int utilizando casting
idade =  int(input(" Digite sua idade" ))
type(idade)

 Digite sua idade22

int

In [ ]:
# exemplo de print e input

produto = input("Digite o nome do produto")
preco = input("Digite o preço do produto")
quantidade = input("Digite a quantidade do produto")

print("Nome do produto", produto, "preço do produto", preco, "quantidade do produto", quantidade)

Digite o nome do produtomoto
Digite o preço do produto19000
Digite a quantidade do produto1
Nome do produto moto preço do produto 19000 quantidade do produto 1

Operadores Aritimeticos

In [ ]:
# Operador de potencia
a = 2
b = 3

pot = a ** b
print(pot)

8

# Operadores Relacionais

Os operadores relacionais servem para comparar valores. O resultado de uma comparação sera um valor booleano: True(verdadeiro) False(Falso)

É muito utilizado em estrtura de decições como (if else) (while)

In [ ]:
a = 10
b = 10

a == b

# este é o operador para comparar se são iguais

# tempos que cuidar na hora de comparar com string o python e case sensitive

nome = "josé"

nome == "José" # como eu comparei o valor Jose com J maisculo da false

False

In [ ]:
# diferente de !=

a = 5
b = 6

a != b

True

In [ ]:
# diferente de String

fruta = "Laranja"

fruta != "Morango"

True

# Operadores Lógicos

Operador E
Operador OU
Operador AND

In [ ]:
#operador E
idade = 25
tem_carteira = True

idade >= 18 and tem_carteira
# O operador "and" so dar True se todas as expressões forem verdadeira se uma dar false todo o algoritimo é false

True

In [ ]:
#Operador OU basta que uma operação seja verdadeira apara outras também :)

ingresso = True
nome_lista = False

ingresso or nome_lista

True

In [ ]:
#Operador Não este operador inverte os valores

logado = False

not logado

True

In [ ]:
# Prioridade de dos operadores

 parentese ()
 1) not
 2) and
 3) or

 essa é a ordem de precedencia de quais operadores serão executados primeiros :)

In [ ]:
# Verificar o resultado seguindo a ordem de precedencia
a = True
b = False
c = True

resultado = not a or b and c
print(resultado)

# ordem de precedencia
false or b and c
false or false
false

False

NameError: name 'false' is not defined

In [ ]:
# Verificar pessoas que moram em são paulo e são maiores de 18 anos

cidade = "São Pualo"
idade = 25

cidade == 'São Paulo' and idade >= 18

False

# Operadores de operação

In [ ]:
# Operadores de operação simples  (=)


nome = "joao"
idade = 25

In [ ]:
#Operadores de atribuição em soma (+)

qtd = 5

# qtd = qtd + 3
# print(qtd)

qtd += 3
print(qtd)

8

In [ ]:
#Operador de atribuição com subtração (-=)

qtd = 8
qtd = qtd - 2
print (qtd)

6

# Estrturas Condicionais

Essas estruturas são utilizadas para que o programa tome uma decisão com base em uma condição, que pode ser verdadeira ou falsa.
Caso seja verdadeira ela realiza uma instrução caso seja falsa realiza outra

In [ ]:
# sintaxe do comando IF ELSE

'''
if condicao: (se condicao for verdadeira )
    executa esse bloco de comando
else
'''


idade = 25

if idade >= 18:
  print("voce é maior de 18 anos")
else:
  print("voce é menor de idade")

voce é maior de 18 anos

#Sintaxe do comando if-elif-else

In [ ]:
'''
if condicao: (Se a condição for verdadeira)
    Executa esse bloco de comando
elif condição2: (Se a condição 2 for verdadeira)
    Executa esse bloco
elif condição3: (Se a condição 3 for verdadeira)
    Executa esse bloc
else:
  Executa esse comando

'''

In [ ]:
#Exemplo if_elif-else

idade = 25

if idade <= 18:
  print("Você é adolecente!")
elif idade < 65:
  print("Você é um adulto")
else:
  print("Você é um idoso")

Você é um adulto

In [ ]:
#Exemplo utilizando operadores logicos

idade = 18
tem_carteira = True

if  idade >= 18 and tem_carteira:
  print("Você pode dirigir!")
else:
  print("Você nao pode tirar a carteira e nem dirigir!")

Você pode dirigir

#Laço de repetição FOR

O for é usado como uma estrutura de repetição usada para percorrrer uma sequencia de dados como. listas,
strings, intervalos numéricos, entre outros

#Importante!!!!

In [ ]:
#Sintaxe do comando for

'''

for variavel in sequencia:
  Executa esse bloco de comando

'''

In [ ]:
#Exemplo de for com String

# É um laço de repetição onde a variavel x recebe os caracteres de cada String
for x in "Python para dados":
  print(x)

P
y
t
h
o
n

p
a
r
a

d
a
d
o
s

In [ ]:
#Exemplo de for com listas

# Aqui eu tenho 4 nomes e quero percorrer cada um e ir printando na tela
nomes = ["George", "Oswaldo", "Murilo", "Leticia"]

# Aqui ira percorrer cada variavel
for i in nomes:
  print(i)

# se eu printar direto ele nao irar percorrer um por um
print(nomes)

George
Oswaldo
Murilo
Leticia
['George', 'Oswaldo', 'Murilo', 'Leticia']

In [ ]:
# For in range - sintaxe
# Essa é muito usado em valores snúmericos

'''
- Estrtura For in Range

# Aqui eu tenho que definir qual numero ira começar meu for e qual ira terminar

for i in range (inicio, fim, passo)
1) for i in range(fim) inicio = 0, passo = 1

2) for i in range(inicio, fim) passo = 1

3) for i in range (incio, fim, passo)

'''

In [ ]:
# neste for iremos percorrer uma lista com 10 numeros e iremos printar do (0 ate 10)
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Como dessa vez eu utilizei um valor inicial que é 2 ele ira printar do (2 ate o 21)
for x in range (2, 21):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Aqui foi definido o inicio 2 o fim que é 21 e o passo a passo que  é 2 isso irar print pulando de dois em dois

for j in range(2, 21, 2):
  print(j)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Imprime uma mensagem ao termino do loop

# Aqui utilizamos o for con else: Ele imprimi a lista for com o termino exibi uma mensagem que esta no else
for i in range(1, 10):
  print(i)
else:
  print("Fim da execução do for!")

1
2
3
4
5
6
7
8
9
Fim da execução do for!

# While

O laço de repetição While é uma estrutura de repetição que continua executando um bloco de codigo enquanto a condição for verdadeira

Sendo assim, quando execução se torna falsa, o loop para

In [ ]:
# Sintaxe do comando while

'''
While condição: (Enquanto a condição for verdadeira)
    Executar o bloco de comandos (codigo)


'''

In [ ]:
#Exemplo de utilização em contador de 1 ate 10

i = 1

# Neste comando usamos while para ir de 1 a 10 e concatenamos com a String "Contagen", i para incrementar apos o print
while i <= 10:
  print('Contagem: ', i)
  i += 1

Contagem:  1
Contagem:  2
Contagem:  3
Contagem:  4
Contagem:  5
Contagem:  6
Contagem:  7
Contagem:  8
Contagem:  9
Contagem:  10

In [ ]:
# Loop Inifinito atenção !!!! Pode travar
# se esquecer essa linha i += 1, gera um loop infinito

In [ ]:
# Validação de String com while
# Aqui consigo executar algumas condições quando são verdadeiras

senha = int(input("Digite sua senha"))

while senha != "Python":
  print("Senha errada")
  senha = input(" Tente novamente")


print("Senha correta. Acesso liberado.")

Digite sua senha12345
Senha errada
 Tente novamentePython
Senha correta. Acesso liberado.

In [ ]:
#Usuario tem que digitar um valor entre 1 e 10

#Solictamos para que o usario digite um número entre 1 e 10 ele armazena o nuemro digitado
numero = int(input("Digite um número entre 1 e 10"))


# Geramos um loop e conferimos se o numero esta entre 1 e 10
while numero < 1 or numero > 10:
  numero = int(input("Número invalido! Digite um número entre 1 e 10"))

# O numero digitado é retornado e printado
print("Número valido! O número digitado foi: ", numero)

Digite um número entre 1 e 10-10
Número invalido! Digite um número entre 1 e 1050
Número invalido! Digite um número entre 1 e 1010
Número valido! O número digitado foi:  10

In [ ]:
# Intruções do while True

# Esta função serve de exemplo um gerador de senha. Como funciona pedimos para usuario digitar a senha e ele so acessa se a senha for a correta se nao ele fica reepetindo

'''
While True:
    Executa o bloco de codigo
    if condicao: (Se a condição for verdadeira)
        Executa esse bloco (break)
'''

In [ ]:
while True:
  Senha = input(("Digite a sua senha: "))
  if Senha == "Python":
    print("Acesso liberado")
    break
  else:
    print("Senha incorreta! Digite novamente!")

Digite a sua senha: 12345
Senha incorreta! Digite novamente!
Digite a sua senha: Python
Acesso liberado

In [ ]:
#Intrução while True - Leia numeros e imprima na tela até o usuario digitar o numero 0.

while True:
  numeros = int(input("Digite um numero inteiro: "))
  if numeros == 0:
    print("Programa encerrado")
    break
  else:
    print("O numero digitado foi: ", numeros)

Digite um numero inteiro: 10
O numero digitado foi:  10
Digite um numero inteiro: 2
O numero digitado foi:  2
Digite um numero inteiro: 0
Programa encerrado

In [ ]:
#Comando break
i = 1

# Aqui eu peço para meu while de 1 ate 10, mas logo abaixo eu coloco um if i == 3 ele para no break
while i < 10:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# Comando continue - Imprima de 1 a 20, com exceção do mumero 10
x = 1

while x < 20:
  x += 1
  if x == 10:
    continue
  else:
    print(x)

2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

# Strings

Uma string é uma variavel do tipo texto. Ela possui diversos métodos. O tipo de dados de uma string
em python é o str

In [ ]:
# Criando uma string em python

nome = "George"
nomeII = "José"

In [ ]:
# As aspas duplas servem para dar um destaque no "Python"
texto = 'Estou aprendendo "python"'
print(texto)

Estou aprendendo "python"

In [ ]:
# Tamanho de uma String

nome = "George Emannuel Guedes"
email = "Georgeemannuel416@gmail.com"

# Esse método len ela serve para contar as caracteres de uma string
print(len(nome))
print(len(email))

22
27

In [ ]:
# Operador IN - verifica a existência de um caracter e retorna booleano

# Esse metodo verifica se aletra b tem na no meu nome email e retorna um True ou False
print('a'in email)

# Essa função é muito importante em dados

True

In [ ]:
# Operador NOT in - Verifica a existencia de um caractere e retorna booleano

# Esse método verifica se tem .com.br no meu email e retorna True ou False
print('.com.br' not in email)

True

In [ ]:
# Cadeia de caracteres - string são imutáveis
# Na função abaixo na posição 2 tentamos mudar a letra T para letra O so que não é possivel, por que em String não é possivel realizar essa alteração
texto = "Python"
print(texto[2])
texto[0] = 'O'

t

TypeError: 'str' object does not support item assignment

In [ ]:
# Método capitalize
# O método capitalize serve para deixar somente a primeira letra maiscula o restante fica minusculo

print(nome)
nome = "George Emannuel Guedes"
nome = nome.capitalize()
print(nome)

George Emannuel Guedes
George emannuel guedes

In [ ]:
# Deixar todas as letras da String em caixa alta
# O metodo upper deixa todas as letra sme caixa alta
# O metodo lower serve para deixar em caixa baixa

fruta = 'laranja'

print(fruta)
fruta = fruta.upper()
print(fruta)

laranja
LARANJA

In [ ]:
# Contar quantas vezes um caractere aparece em uma String

# Aqui usamos o metodo count ele é usado para você contar quantas caracteres aparece em um String

email = "George.emannuelcarvalho@gmail.com"
print(email.count('ma'))

2

In [ ]:
# Metodo "find" para mostra uma posição de caractere em uma String

#Iniciando do zero aqui vamos contar as caracteres que tem  String

print(email.find('.com'))

29

In [ ]:
# Metodo para verificar se uma String começa com um caractere ou sequencia de caracteres especificos

print (email.startswith('George'))

True

In [ ]:
# Método para verificar se uma string termina com carcatere ou sequencia de carcateres especificos

print(email.endswith('.com'))

True

In [ ]:
# Metodo para verificar se o conteudo de uma string é númerico ou não

# Aqui retorna falso por que temos carcateres especiais e essa função so retorna True se tiver Números
cpf = '082.157.573-80'
print(cpf.isnumeric())

False

In [ ]:
# Método para verificar se o conteudo de uma string é de apenas letras

texto = "abcdef"
print(texto.isalpha())

True

In [ ]:
# Método para verificar se o conteudo de uma String é uma combinação de letras e numeros

animal = 'Cachorro23'

print(animal.isalnum())

False

In [ ]:
# Método para remover espaços indesajados

animal = "   cachorro        "
print(len(animal))

animal = animal.strip()

print(animal)
print(len(animal))

19
cachorro
8

In [ ]:
# Metodo para substituir uma palavra por outro

trasporte = "ônibus"

print(trasporte)

trasporte = trasporte.replace('ô', 'i')
print(trasporte)

ônibus
inibus

In [ ]:
# Metodo para "Recortar" uma string com determinado delimitador

# Esse metodo serve como seprador

nome_completo = "Jose inacio ribeiro"

print(nome_completo)

nome_completo = nome_completo.split()
print(nome_completo)

Jose inacio ribeiro
['Jose', 'inacio', 'ribeiro']

# Percorrendo  String

In [ ]:
# Percorrendo uma string com for

texto = "Python para dados"

for i in texto:
  print(i)

P
y
t
h
o
n

p
a
r
a

d
a
d
o
s

In [ ]:
# Percorrendo uma string com while

texto = "Python para dados"
print(texto)

i = 0
while i < len(texto):
  print(i)
  i += 1

Python para dados
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [ ]:
# Fatiamento de Strings

# O passo é de quantos em quantos eu quero que percorra na lista

texto = "Python para dados"

'''
texto[inicio: fim - 1: passo]

'''

In [ ]:
# Fatiamento de String

print(texto[0])
print(texto[-1])

print(texto[2: 10: 1])

print(texto[::])

P
s
thon par
Python para dados

# Formatação de String

In [ ]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))

print(f"O seu nome é {nome} e a sua idade é {idade}")

Digite seu nome: george
Digite sua idade: 22
O seu nome é george e a sua idade é 22

In [ ]:
# Formatar numeros float

preco = 49.95823

print(f"preço do produto é {preco:.2f}")

preço do produto é 49.96

In [ ]:
# Fomatar números inteiros (preenchimento com zeros)

numero = 7
print(f"O numero é: {numero:07}")

O numero é: 0000007

In [ ]:
# Alinhar textos: á esquerda direita e centralizado

texto = "Python"
print(f"{texto:<10} - alinhado a esquerda")
print(f"{texto:>10} - alinhado a direita")
print(f"{texto:^10} - alinhado ao centro")

Python
    Python
  Python

In [ ]:
#Inserir separados de milhar
#Aqui separamos as casas por virgula
valor = 1234567
print(f"Valor formatado{valor:,}")

Valor formatado1,234,567

In [ ]:
#Exibir porcentagem

taxa = 0.085

print(f"taxa de crescimento: {taxa:.2%}")

taxa de crescimento: 8.50%

In [ ]:
# Representar números em diferentes bases (binario, hexadecimal, octal)

numero = 255
print(f"Binario: {numero:b}")
print(f"Octal: {numero:o}")
print(f"Hexadecimal: {numero:x}")

Binario: 11111111
Octal: 377
Hexadecimal: ff

In [ ]:
# Calculo e funções direntamente nas chaves

a = 5
b = 3

print(f"A soma entre os numeros {a} + {b} é = {a + b}")

A soma entre os numeros 5 + 3 é = 8

In [ ]:
#Apresentando o faturamento de uma empresa

nome_da_empresa = "DataCorp"
faturamento = 15000000
print(f"A empresa {nome_da_empresa} faturou R$ {faturamento:,.2f} neste mês ")

A empresa DataCorp faturou R$ 15,000,000.00 neste mês